html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  color: #FFFFFF;
}

.app {
  position: relative;
  width: 100%;
  height: 600px;
  background: radial-gradient(ellipse at center,#484B5A 0,#1D2029 100%);

  .header {
    position: absolute;
    top: 1em;
    left: 1em;
    max-width: 50%;
    font-size: 0.85em;

    p {
      margin-top: 0;
    }
  }

  .legend {
    ul {
      padding: 0;
      list-style: none;

      li {
        margin: .5em 0;
        padding: 0 0 0 1.25em;

        &.bubble:before {
          content: '';
          margin-left: -1.25em;
          display: inline-block;
          width: .75em;
          height: .75em;
          margin-right: .5em;
          border-radius: 50%;
          opacity: .75;
        }

        &.red:before {
          background: #f03b20;
        }

        &.orange:before {
          background: #feb24c;
        }

        &.yellow:before {
          background: #ffeda0;
        }
      }
    }
  }

  .date {
    position: absolute;
    top: .5em;
    right: .5em;
    font-size: 1.5em;
  }

  .controls {
    position: absolute;
    bottom: 1em;
    left: 1em;
    right: 1em;
    display: flex;
    align-items: center;

    .date-control {
      width: calc(100% - 100px);
      margin-top: .25em;

      .date-input {
        width: 100%;
      }

      .date-labels {
        color: #A1A5b5;
        font-size: .75em;
        user-select: none;
        display: flex;
        justify-content: space-between;
      }
    }

    .play-button {
      &:after {
        content: "";
        display: inline-block;
        position: relative;
        top: 3px;
        left: 2px;
        border-style: solid;
        border-width: 11px 0 11px 18px;
        border-color: transparent transparent transparent #333541;
      }

      &.playing::after {
        content: "";
        display: inline-block;
        position: relative;
        top: 3px;
        left: 0;
        height: 20px;
        border-style: double;
        border-width: 0 0 0 17px;
        border-color: transparent transparent transparent #333541;
      }
    }

    .reset-button {
      margin-right: 1.5em;
      svg {
        position: relative;
        top: 3px;
        left: 0;
        width: 26px;
        height: 26px;
      }
    }
  }
}

button {
  outline: none;
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  background: #FFFFFF;
  width: 40px;
  height: 40px;
  font-size: 1em;
  margin-right: .5em;
  text-align: center;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 1rem;
  margin: 0;
  vertical-align: text-top;
  background: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  outline: none;
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #A1A5b5;
  border-radius: .5em;
}

input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #A1A5b5;
  border-radius: .5em;
}

input[type=range]::-moz-range-thumb {
  border: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
}

input[type=range]::-moz-focus-outer {
  border: 0;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  background: transparent;
  border-color: transparent;
  border-width: 12px 0;
  color: transparent;
}

input[type=range]::-ms-thumb {
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #FFFFFF;
}

input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
  background: #A1A5b5;
  border-radius: 5px;
}

input[type=range]:focus::-ms-fill-lower,
input[type=range]:focus::-ms-fill-upper {
  background: #A1A5b5;
}
