html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  color: #FFFFFF;
  height: 100%;
}

.app {
  display: block;
  position: relative;
  width: 100%;
  height: 550px;
  background: radial-gradient(ellipse at center,#484B5A 0,#1D2029 100%);

  .tooltip {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 240px;
    min-height: 90px;
    font-size: .85em;
    border-radius: 5px;
    opacity: 0;
    background: white;
    color: #333541;
    padding: .35em .5em;
    transition: opacity 200ms ease-out;

    &:after {
      content: " ";
      position: absolute;
      top: 100%; /* At the bottom of the tooltip */
      left: 50%;
      margin-left: -16px;
      border-width: 16px;
      border-style: solid;
      border-color: #FFFFFF transparent transparent transparent;
    }
  }

  .header {
    pointer-events: none;
    position: absolute;
    top: 1em;
    left: 1em;
    right: 1em;
    max-width: 50%;
    font-size: 0.85em;

    p {
      margin-top: 0;
    }
  }

  .legend {
    ul {
      padding: 0;
      list-style: none;

      li {
        margin: .5em 1em .5em 0;

        & > svg {
          float: left;
        }
      }
    }
  }

  .date {
    position: absolute;
    top: .5em;
    right: .5em;
    font-size: 1.5em;
  }

  .controls {
    position: absolute;
    bottom: 1em;
    left: 1em;
    right: 1em;
    display: flex;
    align-items: center;

    .date-control {
      width: calc(100% - 100px);

      .date-input {
        margin-bottom: 5px;
      }

      .date-labels {
        color: #A1A5b5;
        font-size: .75em;
        user-select: none;
        display: flex;
        justify-content: space-between;
      }
    }

    .play-button {
      &:after {
        content: "";
        display: inline-block;
        position: relative;
        top: 2px;
        left: 2px;
        border-style: solid;
        border-width: 11px 0 11px 18px;
        border-color: transparent transparent transparent #333541;
      }

      &.playing::after {
        content: "";
        display: inline-block;
        position: relative;
        top: 2px;
        left: 0;
        height: 20px;
        border-style: double;
        border-width: 0 0 0 17px;
        border-color: transparent transparent transparent #333541;
      }
    }

    .reset-button {
      margin-right: 1.5em;
      svg {
        position: relative;
        top: 3px;
        left: 0;
        width: 25px;
        height: 25px;
      }
    }
  }

  @media (max-width: 600px) {
    .header {
      max-width: 100%;
    }

    .legend {
      user-select: none;

      ul {
        margin-top: -.5em;

        li {
          display: inline-block;
          margin: .25em .25em .25em 0;
          font-size: 0.85em;
          width: 30%;
          min-width: 120px;
          vertical-align: top;

          svg {
            margin-top: -5px;
          }
        }
      }
    }

    .date {
      top: initial;
      right: 1rem;
      bottom: 60px;
      font-size: 1em;
    }
  }
}

button {
  outline: none;
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  background: #FFFFFF;
  width: 40px;
  height: 40px;
  font-size: 1em;
  margin-right: .5em;
  text-align: center;
}

input[type=range] {
  -webkit-appearance: none;
  vertical-align: middle;
  width: 100%;
  margin: 0;
  padding: 0;
  background: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  outline: none;
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #A1A5b5;
  border-radius: .5em;
}

input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #A1A5b5;
  border-radius: .5em;
}

input[type=range]::-moz-range-thumb {
  border: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
}

input[type=range]::-moz-focus-outer {
  border: 0;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  background: transparent;
  border-color: transparent;
  border-width: 12px 0;
  color: transparent;
}

input[type=range]::-ms-thumb {
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #FFFFFF;
}

input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
  background: #A1A5b5;
  border-radius: 5px;
}

input[type=range]:focus::-ms-fill-lower,
input[type=range]:focus::-ms-fill-upper {
  background: #A1A5b5;
}
